.searchForA {
  position: relative;
  display: inline-block;
  width: 600px;
  height: 30px;
  flex-shrink: 0;
}
.searchForAUsersTweetsWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.twitterinputFormgroup {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 43px;
  left: 0;
}
.twitterLogoIcon {
  position: absolute;
  top: 136px;
  left: 557px;
  width: 86px;
  height: 86px;
  object-fit: cover;
}
.frameParent {
  position: absolute;
  top: 28px;
  left: 44px;
  width: 600px;
  height: 208px;
}
.numberOfTweetsParent {
  border: 0;
  background-color: transparent;
}
.go {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.frameGroup,
.twitterbutton {
  display: flex;
  flex-direction: row;
}
.twitterbutton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-36xl);
  background-color: var(--color-white);
  border-radius: var(--br-xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 86px;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frameGroup {
  position: absolute;
  top: 160px;
  left: 44px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.twittercard {
  position: absolute;
  margin: 0 !important;
  top: 527px;
  left: 67px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue);
  width: 726px;
  height: 271px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
