.home {
  background-color: var(--color-white);
  /* overflow: hidden; */
  padding: 40px;
  font-size: 50px;
  color: var(--color-black);
  font-family: var(--font-inter);
}

.title,
.subtitle {
  width: 100%;
}

.subtitle {
  font-size: var(--font-size-xl);
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;

}

.titleWrapper {
  gap: 10px;
  z-index: 3;
  width: 100%;
  flex-direction: column;
  text-align: center;
}